In [1]:
import pandas as pd
import pandas_datareader.data as web

# Bases necess√°rias

- Base 1: [24/10, 18/11]
- Base 2: [26/09, 21/10]
- Base 3: [29/08, 23/09]

In [33]:
stock_list = ['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT',
       'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES',
       'AFL', 'AIG', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL',
       'ALLE', 'AMAT', 'AMCR', 'AMD', 'AME', 'AMGN', 'AMP', 'AMT', 'AMZN',
       'ANET', 'ANSS', 'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE',
       'ATO', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AZO', 'BA',
       'BAC', 'BALL', 'BAX', 'BBWI', 'BBY', 'BDX', 'BEN', 'BF.B', 'BIIB',
       'BIO', 'BK', 'BKNG', 'BKR', 'BLK', 'BMY', 'BR', 'BRK.B', 'BRO',
       'BSX', 'BWA', 'BXP', 'C', 'CAG', 'CAH', 'CARR', 'CAT', 'CB',
       'CBOE', 'CBRE', 'CCI', 'CCL', 'CDAY', 'CDNS', 'CDW', 'CE', 'CEG',
       'CF', 'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX',
       'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF',
       'COO', 'COP', 'COST', 'CPB', 'CPRT', 'CPT', 'CRL', 'CRM', 'CSCO',
       'CSGP', 'CSX', 'CTAS', 'CTLT', 'CTRA', 'CTSH', 'CTVA', 'CVS',
       'CVX', 'CZR', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI',
       'DHR', 'DIS', 'DISH', 'DLR', 'DLTR', 'DOV', 'DOW', 'DPZ', 'DRI',
       'DTE', 'DUK', 'DVA', 'DVN', 'DXC', 'DXCM', 'EA', 'EBAY', 'ECL',
       'ED', 'EFX', 'EIX', 'EL', 'ELV', 'EMN', 'EMR', 'ENPH', 'EOG',
       'EPAM', 'EQIX', 'EQR', 'EQT', 'ES', 'ESS', 'ETN', 'ETR', 'ETSY',
       'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG', 'FAST',
       'FBHS', 'FCX', 'FDS', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FITB',
       'FLT', 'FMC', 'FOX', 'FOXA', 'FRC', 'FRT', 'FTNT', 'FTV', 'GD',
       'GE', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GNRC', 'GOOG', 'GOOGL',
       'GPC', 'GPN', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN', 'HCA',
       'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOLX', 'HON', 'HPE', 'HPQ',
       'HRL', 'HSIC', 'HST', 'HSY', 'HUM', 'HWM', 'IBM', 'ICE', 'IDXX',
       'IEX', 'IFF', 'ILMN', 'INCY', 'INTC', 'INTU', 'INVH', 'IP', 'IPG',
       'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'J', 'JBHT', 'JCI',
       'JKHY', 'JNJ', 'JNPR', 'JPM', 'K', 'KDP', 'KEY', 'KEYS', 'KHC',
       'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KR', 'L', 'LDOS', 'LEN',
       'LH', 'LHX', 'LIN', 'LKQ', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW',
       'LRCX', 'LUMN', 'LUV', 'LVS', 'LW', 'LYB', 'LYV', 'MA', 'MAA',
       'MAR', 'MAS', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET',
       'META', 'MGM', 'MHK', 'MKC', 'MKTX', 'MLM', 'MMC', 'MMM', 'MNST',
       'MO', 'MOH', 'MOS', 'MPC', 'MPWR', 'MRK', 'MRNA', 'MRO', 'MS',
       'MSCI', 'MSFT', 'MSI', 'MTB', 'MTCH', 'MTD', 'MU', 'NCLH', 'NDAQ',
       'NDSN', 'NEE', 'NEM', 'NFLX', 'NI', 'NKE', 'NLOK', 'NLSN', 'NOC',
       'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NVR', 'NWL',
       'NWS', 'NWSA', 'NXPI', 'O', 'ODFL', 'OGN', 'OKE', 'OMC', 'ON',
       'ORCL', 'ORLY', 'OTIS', 'OXY', 'PARA', 'PAYC', 'PAYX', 'PCAR',
       'PCG', 'PEAK', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH',
       'PHM', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'POOL',
       'PPG', 'PPL', 'PRU', 'PSA', 'PSX', 'PTC', 'PWR', 'PXD', 'PYPL',
       'QCOM', 'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RJF',
       'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTX', 'SBAC',
       'SBNY', 'SBUX', 'SCHW', 'SEDG', 'SEE', 'SHW', 'SIVB', 'SJM', 'SLB',
       'SNA', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRE', 'STE', 'STT', 'STX',
       'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYY', 'T', 'TAP', 'TDG',
       'TDY', 'TECH', 'TEL', 'TER', 'TFC', 'TFX', 'TGT', 'TJX', 'TMO',
       'TMUS', 'TPR', 'TRMB', 'TROW', 'TRV', 'TSCO', 'TSLA', 'TSN', 'TT',
       'TTWO', 'TWTR', 'TXN', 'TXT', 'TYL', 'UAL', 'UDR', 'UHS', 'ULTA',
       'UNH', 'UNP', 'UPS', 'URI', 'USB', 'V', 'VFC', 'VICI', 'VLO',
       'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VTRS', 'VZ', 'WAB',
       'WAT', 'WBA', 'WBD', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR', 'WM',
       'WMB', 'WMT', 'WRB', 'WRK', 'WST', 'WTW', 'WY', 'WYNN', 'XEL',
       'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS']

In [34]:
start_date = "2022-01-01"
end_date = "2022-10-14"

lista_extra = []

data = web.DataReader(name="AAL", data_source='yahoo', start=start_date, end=end_date)

df = pd.DataFrame(index=data.index, columns=stock_list)

for stock in stock_list:
    try:
        if stock =="BF.B":
            stock_search = "BF-B"
        elif stock =="BRK.B":
            stock_search = "BRK-B"
        else:
            stock_search = stock

        data = web.DataReader(name=stock_search, data_source='yahoo', start=start_date, end=end_date)
        df[stock] = data['Close']
        
    except:
        lista_extra.append(stock)
        print(stock)

MOH
MOS

In [35]:
for stock in lista_extra:
    try:
        if stock =="BF.B":
            stock_search = "BF-B"
        elif stock =="BRK.B":
            stock_search = "BRK-B"
        else:
            stock_search = stock

        data = web.DataReader(name=stock_search, data_source='yahoo', start=start_date, end=end_date)
        df[stock] = data['Close']
        
    except:
        print(stock)

print(df.shape)
df

(198, 503)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,156.479996,18.750000,236.779999,182.009995,135.419998,132.619995,366.290009,139.039993,407.209991,564.369995,...,87.769997,67.940002,63.540001,56.889999,116.889999,136.529999,125.368935,583.900024,64.239998,234.029999
2022-01-04,151.190002,19.020000,237.050003,179.699997,135.160004,131.360001,361.589996,135.770004,404.299988,554.000000,...,87.489998,68.370003,65.930000,57.180000,118.129997,137.259995,126.640778,587.599976,66.070000,225.119995
2022-01-05,148.600006,18.680000,236.449997,174.919998,135.869995,132.500000,338.200012,135.160004,397.179993,514.429993,...,84.250000,69.040001,66.750000,56.259998,116.519997,135.520004,126.223305,558.179993,66.220001,216.559998
2022-01-06,149.119995,18.570000,241.649994,172.000000,135.229996,130.449997,336.440002,135.139999,378.000000,514.119995,...,84.639999,68.500000,68.320000,56.220001,116.360001,136.919998,125.174759,555.159973,68.940002,217.419998
2022-01-07,145.149994,19.280001,238.089996,172.169998,134.880005,133.119995,319.279999,135.559998,370.750000,510.700012,...,84.550003,69.099998,68.879997,56.400002,115.430000,135.350006,124.417473,530.859985,70.089996,211.089996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-10,125.949997,12.050000,166.250000,140.419998,138.309998,137.619995,247.029999,101.129997,257.850006,285.720001,...,64.139999,60.209999,98.839996,28.080000,88.820000,107.790001,106.940002,258.600006,49.950001,145.779999
2022-10-11,125.639999,12.260000,168.860001,138.979996,141.509995,141.710007,243.139999,101.750000,252.979996,284.829987,...,59.639999,59.830002,98.000000,28.160000,89.050003,105.250000,108.320000,250.009995,49.180000,146.250000
2022-10-12,125.690002,12.700000,169.320007,138.339996,139.979996,138.940002,242.770004,100.080002,250.070007,286.149994,...,58.709999,57.939999,98.430000,28.020000,87.220001,105.540001,107.059998,261.029999,48.439999,145.860001
2022-10-13,127.900002,13.050000,171.580002,142.990005,142.919998,142.050003,258.079987,102.470001,257.459991,294.739990,...,57.099998,59.740002,101.870003,29.000000,88.339996,109.680000,109.430000,268.269989,50.570000,148.639999
2022-10-14,125.699997,13.110000,168.570007,138.380005,142.940002,140.600006,249.279999,100.910004,252.720001,287.940002,...,56.349998,58.860001,99.190002,28.480000,86.199997,106.769997,106.910004,255.610001,50.139999,145.399994

In [39]:
#df.to_csv("data/test/valores_ano.csv")

In [2]:
df = pd.read_csv("data/test/valores_ano.csv")
df.pop("Date")
df.head(2)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,156.479996,18.75,236.779999,182.009995,135.419998,132.619995,366.290009,139.039993,407.209991,564.369995,...,87.769997,67.940002,63.540001,56.889999,116.889999,136.529999,125.368935,583.900024,64.239998,234.029999
1,151.190002,19.02,237.050003,179.699997,135.160004,131.360001,361.589996,135.770004,404.299988,554.000000,...,87.489998,68.370003,65.930000,57.180000,118.129997,137.259995,126.640778,587.599976,66.070000,225.119995